body{
	background-color: #fffff5;
}

/* Navigation Bar */
.header{
	opacity: 0.85;
	position: fixed;
	top: 0px;
	margin-top: 0px;
	margin-left: -10px;
	margin-right: -20px;
	width: 100%;
	z-index: 0;
	background: #ffffff;
	opacity: 0.8;
	height: 70px;
}

#logo{
	margin: 10px;
}

.menu{
	padding:0px;
	font: 67.5%;
	font-family: 'HelveticaNeue-Light', Helvetica, sans-serif;
	font-weight: 900;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
}

.menu ul{
background: #ffffff;
opacity: 0.85;
list-style:none;
margin:0;
padding:0;
-webkit-box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .1);
-moz-box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .1);
box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .1);
}

.menu li{
float:right;
padding: 0px 0px 0px 0px;
}

.menu li a{
color:#000000;
display:block;
font-weight:normal;
line-height:70px;
margin:0px;
padding-top: 0px;
padding:0px 25px;
text-align:center;
text-decoration:none;
}

.menu li a:hover{
background:#000000;
color:#000000;
text-decoration:none;
-webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
-moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
}

.menu ul li:hover a{
background: #000000;
color:#ffffff;
text-decoration:none;
}

.menu li ul{
display:none;
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:200px;

}

.menu li:hover ul{
display:block;
}

.menu li li {
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
background: #27AAE1;
}

.menu li:hover li a{
background: #ffffff;
color: #000000;
}

.menu li ul a{
display:block;
height:40px;
font-size:14px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:center;
line-height: 40px;
}

.menu li ul a:hover, .menu li ul li:hover a{
border:0px;
color:#ffffff;
text-decoration:none;
background: #000000;
-webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
-moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3); 
}

/* Team Banner */
#team-banner-background{
	position: fixed;
	/* margin-top: 70px; */
	margin-top: 60px;
	height: 400px;
	margin-left: -10px;
	margin-right: -10px;
	width: 100%;
	background-image: url("../img/office.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -3;
}

#team-banner {
	position: relative;
	height: 400px;
	margin-left: -10px;
	margin-right: -10px;
	background: none;
	z-index: -2;
	font-family: 'HelveticaNeue-UltraLight', Helvetica, sans-serif;
	font-size: 72px;
	font-weight: 200;
	color: white;
	line-height: 400px;
	text-align: center;
}

/* Team Description */
#team-desc {
	background-color: #fffff5;
	height: 275px;
	margin-left: -10px;
	width: 102%;
	text-align: center;
	font-weight: 200;
	font-family: 'HelveticaNeue-UltraLight', Helvetica, sans-serif;
	font-size: 36px;
}

#hands {
	margin: 30px;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	opacity: 1;
}

#hands:hover {
	opacity: 0.7;
}

/* Team Grid */
#team-grid {
	border-spacing: 0px 6px;
	margin-top: 0px;
	margin-left: -10px;
	margin-right: -10px;
	width: 102%;
	background-color: #ffffff;
	z-index: -1;
}

#team-grid tr{
	height: 100px;
	z-index: -1;
}

#team-grid td {
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	opacity: 0.7;
	z-index: -1;
}

#team-grid td:hover {
	opacity: 1;
	z-index: -1;
}

.profile-text {
	position: relative;
	font-weight: 200;
	text-align: center;
	width: 100%;
	margin-top: -30%;
}

.profile-text h1 {
	color: white;
	font-family: 'HelveticaNeue-UltraLight', Helvetica, sans-serif;
	font-size: 25px;
	font-weight: 200;
	text-shadow: 2px 2px 2px black;
}

.profile-text h2{
	color: white;
	font-family: 'HelveticaNeue-UltraLight', Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 200;
	text-shadow: 2px 2px 2px black;
}


/* Footer */
footer {
	height: 130px;
	width: 102%;
	color: #ffffff;
	background: rgb(39, 170, 225);
	font-family: 'HelveticaNeue-UltraLight', Helvetica, sans-serif;
	padding-bottom: 10px;
	padding-top: 20px;
	position: relative;
	margin-left: -10px;
	margin-right: -10px;
	/* top: 450px; */
	z-index: -1;
}

footer a {
	color: #ffffff;
}

footer td {
	background: none;
}

#footer-left {
	text-align: left;
	padding-left: 25px;
	width: 30%;
}

#address { font-size: 25px; }
#copyright { font-size: 15px; }

#footer-center {
	text-align: center;
	width: 30%;
}

#footer-right {
	text-align: right;
	padding-right: 25px;
	width: 30%;
	font-size: 20px;
}

#footer-right table {
	float: right;
}