.ustext {
	padding-left: 530px;
	font: 99.5% "TheSerif SemiBold";
}

.user {
	text-align: center;
}
.user input{
	font: 97.5% "TheSerif SemiBold";
	width: 200px;
}

.passtext {
	padding-left: 530px;
	font: 99.5% "TheSerif SemiBold";
}

.pass {
	text-align: center;
}

.pass input{
	width: 200px;
}
.forgot {
	text-align: center;
	font: 99.5% "TheSerif SemiBold";
}
.button{
	text-align: center;
}
.button button{
	text-align: center;
	width: 90px;
	height: 35px;
	display: inline-block;
	font: 119.5% "TheSerif SemiBold";
	border-radius: 50px;
	border: 1px solid #000;
}
